<!DOCTYPE html>
<!-- This Page was made with the intent to look like a blog page -->
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
      <link rel="stylesheet" href="css/index.css" />
   </head>
   <body>
      <main>
         <!-- the first section of the page similar of a header -->
         <section class="top">
            <!-- A alpha emblem -->
            <div class="emblem">
               <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1920.000000 1080.000000" preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,1080.000000) scale(0.100000,-0.100000)" fill="var(--alpha)" stroke="none">
                     <path d="M9335 9439 c-2681 -9 -2873 -11 -2937 -27 -101 -24 -168 -74 -232
                     -173 -16 -25 -17 -220 -20 -3040 -1 -1658 -6 -3031 -10 -3052 -15 -71 41 -229
                     104 -292 22 -22 57 -59 77 -83 20 -24 49 -50 65 -58 16 -8 37 -21 46 -29 9 -8
                     521 -348 1136 -755 616 -408 1136 -756 1157 -773 20 -18 59 -43 86 -57 26 -14
                     154 -95 283 -181 269 -179 256 -172 352 -204 59 -20 93 -25 175 -25 100 0 103
                     1 186 43 67 33 97 56 143 107 45 50 1874 1929 3009 3090 198 203 248 274 260
                     370 4 30 11 71 16 90 5 21 -3 960 -21 2375 -27 2183 -30 2343 -47 2385 -21 53
                     -58 116 -85 145 -10 11 -28 33 -39 48 -25 34 -112 75 -189 89 -76 15 -769 16
                     -3515 7z m472 -468 c23 -16 52 -45 66 -63 30 -40 513 -758 545 -810 35 -56 63
                     -205 65 -338 l1 -115 -52 -115 c-29 -63 -63 -135 -76 -160 -23 -46 -120 -123
                     -1991 -1588 -264 -206 -497 -391 -518 -409 -42 -37 -89 -44 -119 -16 -27 24
                     -22 68 16 136 19 34 349 670 734 1412 799 1542 1046 2012 1070 2038 30 33 94
                     56 158 57 52 0 67 -4 101 -29z m1046 -1629 c10 -9 319 -456 685 -994 367 -537
                     681 -997 697 -1021 17 -24 43 -56 58 -73 45 -47 157 -215 205 -309 8 -16 52
                     -85 98 -152 45 -67 85 -135 89 -151 8 -37 -19 -155 -45 -198 -11 -17 -46 -51
                     -77 -75 -50 -39 -62 -44 -107 -43 -140 3 -236 37 -1456 523 -875 347 -1190
                     477 -1212 498 -45 42 -102 122 -129 181 -13 28 -30 52 -36 52 -8 0 -13 13 -13
                     33 0 22 -8 41 -21 53 -17 16 -20 26 -15 63 4 32 1 55 -14 88 -25 57 -26 110
                     -1 137 10 12 27 43 37 70 9 27 33 66 51 88 18 22 33 47 33 56 0 20 1023 1146
                     1072 1180 36 25 69 23 101 -6z m-1024 -2726 c1026 -168 1889 -308 1916 -312
                     60 -8 95 -36 95 -76 0 -37 -30 -65 -77 -74 -40 -7 -2727 -580 -4073 -869 -426
                     -92 -805 -168 -841 -170 -79 -5 -141 20 -201 80 -44 44 -53 80 -44 168 4 34
                     10 85 13 112 3 28 9 52 13 55 4 3 15 21 25 40 10 19 133 233 273 475 141 242
                     282 491 315 554 56 107 64 116 121 152 104 66 298 149 368 158 167 22 146 25
                     2097 -293z"/>
                     </g>
               </svg>
            </div>
            <!-- the article title -->
            <div class="title">
               <h1>
                  Article Title
               </h1>
            </div>
            <!-- date of publication -->
            <div class="date">
               <p>MM/DD/AAAA</p>
            </div>
         </section>

         <!-- All topics approached -->
         <section class="mid">
            <h2>Topic</h2>
            <p>Lorem ipsum sodales convallis urna faucibus dolor, fusce ullamcorper nam a curae fusce velit, urna nisi vivamus leo accumsan. donec curabitur tellus per vitae convallis tempor rhoncus laoreet facilisis ac litora fusce, dictumst metus fusce quisque mauris molestie sodales inceptos congue risus duis. tincidunt etiam ipsum vel taciti turpis dictum condimentum taciti, habitasse ut dictumst vitae congue nulla mattis ad auctor, commodo elit id cubilia phasellus amet magna. dictumst curabitur taciti risus eu tempor nulla ac erat tempor, ante cras arcu tempus cursus commodo condimentum egestas. accumsan tempor fermentum nibh sed curae sodales augue pulvinar aenean hac, scelerisque faucibus ipsum quis mattis non molestie ad ipsum mattis justo, sagittis etiam ornare mi lectus nunc feugiat elit sapien. </p>
         </section>
         <section class="mid">
            <h2>Topic</h2>
            <p>Orci viverra id nulla maecenas facilisis porttitor torquent ipsum fames duis varius felis, platea sollicitudin aenean at purus ad id aliquam neque nam bibendum. adipiscing mollis eu aliquam molestie etiam, bibendum torquent vehicula sollicitudin turpis, ultrices morbi arcu ligula. litora dictumst potenti vehicula ullamcorper rutrum mauris, curabitur lobortis curae semper leo. facilisis dictumst cras turpis quisque ad pulvinar volutpat sem, gravida posuere semper donec lorem aliquam facilisis sapien, venenatis magna quis volutpat tempor convallis vel. sagittis etiam donec aptent per ut rutrum at rutrum, risus commodo libero justo pulvinar nibh nam litora dolor, mauris litora magna sodales aenean eget commodo.</p>
         </section>
         <section class="mid">
            <h2>Topic</h2>
            <p>Cursus leo feugiat habitant massa vestibulum ligula, cubilia magna nunc aenean. facilisis praesent velit accumsan etiam vel ante fermentum pulvinar, maecenas quam ut commodo erat hendrerit felis mi posuere, suscipit fames nostra neque inceptos habitant mattis. velit netus elementum tempor lorem nam primis enim quisque, nullam proin iaculis scelerisque semper elementum nullam, sit ut a per neque amet dapibus. hac ac hendrerit senectus viverra fermentum nostra nullam vulputate molestie vivamus senectus, bibendum cubilia sodales himenaeos eget scelerisque imperdiet consectetur sed morbi justo, morbi justo adipiscing donec congue dolor erat himenaeos mauris hac.</p>
         </section>

         <!-- the autor of article -->
         <section class="bottom">
            <p class="sign">Article Writer</p>
         </section>
      </main>
   </body>
</html>